<?xml version="1.0" encoding="utf-8"?>
 
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BehaviourMetaData">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="ServerTrack.ServerTrackService" 
               behaviorConfiguration="BehaviourMetaData">
        <endpoint address="http://localhost/SelfHostedServiceConsole"
                  binding="basicHttpBinding"
                  contract="ServerTrack.IServerTrackService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>